[workspace]
members = [ "rastcp","rasterizeddb_core", "test_client", "test_db_web"]
resolver = "3"

[profile.release]
opt-level = 3
debug = false
debug-assertions = false
overflow-checks = false
incremental = false
codegen-units = 1
lto = "fat"

[profile.dev]
opt-level = 2